# ignore VS Code-generated workspace metadata
*.code-workspace

# ignore output files
output/*.csv
output/*.db

# ignore log files
*.log
code_log.txt

# ignore pycache files
__pycache__
src/__pycache__
